## Sales Prediction

In [73]:
import pandas as pd

In [74]:
salesdf = pd.read_csv('vgsales.csv')

In [75]:
salesdf.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [76]:
salesdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [77]:
salesdf.describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16598.000000,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8300.605254,2006.406443,0.264667,0.146652,0.077782,0.048063,0.537441
std,4791.853933,5.828981,0.816683,0.505351,0.309291,0.188588,1.555028
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12449.750000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

There are 11 colunms present in dataset

In [78]:
salesdf.columns

Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

In [79]:
#!pip install scikit-learn

In [80]:
salesdf.dropna(inplace=True)
features = salesdf.drop('Global_Sales', axis=1)
target = salesdf['Global_Sales']

In [81]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test  = train_test_split(features, target, test_size=0.2, random_state=42)

In [82]:
# from sklearn.model_selection import StratifiedShuffleSplit
# split = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=42)
# for train_index, test_index in split.split(salesdf, salesdf['EU_Sales']):
#     strat_train_set = salesdf.loc[train_index]
#     strat_test_set = salesdf.loc[test_index]

In [83]:
# salesdf = train_set.copy()

In [84]:
salesdf.shape

(16291, 11)

In [85]:
# from sklearn.model_selection import StratifiedShuffleSplit
# import numpy as np
# corr_matrix = salesdf.corr()
# corr_matrix['Global_Sales'].sort_values(ascending=False)

In [86]:
import matplotlib as plt
%matplotlib inline

In [87]:
target_column = 'Global_Sales'  # Update this with the actual target column name
if target_column not in salesdf.columns:
    raise ValueError(f"Target column '{target_column}' not found in the data.")

In [88]:
features = salesdf.drop(target_column, axis=1)
target = salesdf[target_column]

features = pd.get_dummies(features, drop_first=True)

X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42)

In [89]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [90]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# Initialize the model
model = LinearRegression()

In [91]:

# Train the model
model.fit(X_train, y_train)

# Make predictions
y_pred = model.predict(X_test)

In [92]:


# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error: {mse}')
print(f'R-squared: {r2}')

Mean Squared Error: 1.5170765919336985e+23
R-squared: -3.5462553260359254e+22

In [93]:
# Example prediction
new_data = {
'Name' : ['Mario Kart Wii'],
'Platform' : ['Wil'],
'Year' : [2021],
'Genre' : ['Sports'],
'Publisher' : ['Nintendo'],
'NA_Sales' : [41.49],
'EU_Sales' : [29.02],
'JP_Sales' : [3.77],
'Other_Sales' : [8.46]
    # Add other features similarly
}

In [94]:

new_data_df = pd.DataFrame(new_data)
new_data_df = pd.get_dummies(new_data_df, drop_first=True)

In [95]:
# Align the new data with the training data
new_data_df = new_data_df.reindex(columns=features.columns, fill_value=0)

# Standardize the new data
new_data_scaled = scaler.transform(new_data_df)

In [96]:

# Make the prediction
predicted_price = model.predict(new_data_scaled)

In [97]:

print(f'Predicted Price: {predicted_price[0]}')

Predicted Price: -67592275082.13853